extends layout 

block head
  link(rel="stylesheet", href="css/shop.css")
  link(rel="stylesheet", href="css/style.css")

block content
  .tb-space
    fieldset
      legend 회원정보
      
      form(method="post")
        table(cellspacing="0")
          input(type="hidden", value=user.아이디, name="username")
          tbody
            tr
              th(scope="row") 아이디
              td
                .infor= user.아이디
            tr
              th(scope="row") 비밀번호
              td
                input(name="password").infor
            tr
              th(scope="row") 이름
              td
                input(value=user.회원이름, name="name").infor
            
            tr
              th(scope="row") 전화번호
              td
                input(value=user.휴대전화, name="tel").infor
            tr
              th(scope="row") 카드번호
              td
                input(value=user.카드번호, name="card").infor
            tr
              th(scope="row") 등급
              td
                .infor= user.등급
            tr
              th(scope="row") 할인율
              td
                .infor #{user.할인율}%
        
        .buttonBlock
          button(type="button")#delete.chnbt 회원탈퇴
          button(type="submit").chnbt 수정
          
  .footer
  script.
    const deleteButton = document.getElementById('delete');
    deleteButton.addEventListener('click', (e) => {
      e.preventDefault();
      fetch('/mypage/delete', {method: 'post'}).then((result) => {
        window.location.href = '/'
      })
    })