extends layout
mixin scheduleInfo(mvnum, mvtime, teanum, cost)
  tr
    th(scope="row") 영화번호
    td
      .infor(id="mvnum") #{mvnum}
    th(scope="row") 상영시간
    td
      .infor(id="mvtime")= `${mvtime.getFullYear()}-${(mvtime.getMonth() + 1)}-${mvtime.getDate()} ${mvtime.getHours()}:${mvtime.getMinutes()}`
    th(scope="row") 상영관번호
    td
      .infor(id="teanum") #{teanum}
    th(scope="row") 요금
    td
      .infor(id="cost") #{cost}원
block head
  link(rel="stylesheet", href="/css/insert.css")

block content
  div
    .tb-space
      fieldset
        legend 시간표
        table
          tbody
            each schedule in schedules
              +scheduleInfo(schedule.영화번호,schedule.상영시간,schedule.상영관번호,schedule.요금)       